body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root{
  --primary-color: #D318D7;
  --details-color: #9F00D6;
  --backgroud-color: #091427;
  --font-color: #F1F1F1;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
}

body{
  color: var(--font-color);
  background-color: var(--backgroud-color);
}